
<section class="footer">

    <div class="container">
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6 col-sm-12 col1">
          <div>
            <!-- <img src="assets/google-wallet.png" width="50px" /> -->
            <span id="logo">&#10070;</span>
            <span class="footer-logo">CU Bank</span>
          </div>
          <div class="context">
            <p>
              Delivering exceptional solutions and personalized services to meet your financial needs.
            </p>
          </div>
          <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <a href="https://www.instagram.com/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a href="https://www.linkedin.com/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            <a href="https://www.youtube.com/" target="_blank"><fa-icon class="youtube" [icon]="faYoutube"></fa-icon></a>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col2">
          <div>
            <p>Sources</p>
          </div>
  
          <div>
            <ul>
              <li><a>Vision</a>Vision</li>
              <li><a>Mission</a></li>
              <li><a>Testimonals</a></li> 
              <li><a>Privacy</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col3">
          <div>
            <ul>
              <li><a>Business</a></li>
              <li><a>Carrers</a></li>
              <li><a>Partners</a></li>
              <li><a>Policy</a></li>
              <!-- <li><a>Creative</a></li> -->
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12 col4">
          <div>
            <p>Site Map</p>
          </div>
  
          <div>
            <ul>
              <li><a>Home</a></li>
              <li>About Us<a></a></li>
              <li><a>FAQs</a></li>
              <!-- <li><a>Blog</a></li> -->
              <li><a>Contact</a></li>
            </ul>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="copyright">
      <p>© 2023 ABC Bank.All rights reserved.</p>
    </div>
  
  </section>
  

