
<!-- vehicle loan datas.... -->
<div class="vehicleloan">
    <h2 class="title">Pending Vehicle Loans</h2>
    <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>User id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Mobile Number</th>
          <th>PAN Number</th>
          <th>Occupation</th>
          <th>Loan Type</th>
          <th>Eligible or Not</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of loanApplicants | paginate: { itemsPerPage: 4, currentPage: page } ">
          <td>{{applicant.userId}}</td>
          <td>{{ getUserDetails(applicant.userId)?.firstname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.lastname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.email }}</td>
          <td>{{ getUserDetails(applicant.userId)?.dateofbirth }}</td>
          <td>{{ getUserDetails(applicant.userId)?.phonenumber }}</td>
          <td>{{ applicant.panNumber }}</td>
          <td>{{ applicant.occupation }}</td>
          <td>{{ applicant.loanType }}</td>
          <td class="cibilscoreeligibility">
            <!-- Get the CIBIL score for the PAN card -->
            <span *ngIf="applicant.panNumber && checkCibilScore(applicant.panNumber)">
              <!-- Tick icon ✓ -->
              &#10003;
            </span>
            <span *ngIf="!applicant.panNumber || !checkCibilScore(applicant.panNumber)">
              <!-- Cross icon ✗ -->
              &#10007;
            </span>
          </td>
          <td class="accept-rejctbtn">
            <button class="accept-button" (click)="openConfirmationDialog('accepted', applicant)">Accept</button>
            <button class="delete-button" (click)="openConfirmationDialog('rejected', applicant)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
  </div>
  

  <pagination-controls (pageChange)="page = $event" class="pagination-controls"></pagination-controls>