
<div class="acceptedvehicleloan" >
    <h2 class="title">Accepted Vehicle Loans</h2>
    <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>User id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Mobile Number</th>
          <th>PAN Number</th>
          <th>Occupation</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of loanApplicants | paginate: { itemsPerPage: 4, currentPage: page }">
          <td>{{applicant.userId}}</td>
          <td>{{ getUserDetails(applicant.userId)?.firstname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.lastname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.email }}</td>
          <td>{{ getUserDetails(applicant.userId)?.dateofbirth }}</td>
          <td>{{ getUserDetails(applicant.userId)?.phonenumber }}</td>
          <td>{{ applicant.panNumber }}</td>
          <td>{{ applicant.occupation }}</td>        
          <td>{{ applicant.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <pagination-controls (pageChange)="page = $event" class="pagination-controls"></pagination-controls>
