<!-- home loan datas.... -->
<div class="rejectedhomeloan">
    <h2 class="title">Rejected Home Loans</h2>
    <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>User id</th>
          <!-- <th>Applicant id</th> -->
          <th>First name</th>
          <!-- <th>Middle name</th> -->
          <th>Last name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Mobile Number</th>
          <th>PAN Number</th>
          <th>Occupation</th>
          <!-- <th>Loan Type</th> -->
          <!-- <th>Eligible or Not</th> -->
          <!-- <th>Options</th> -->
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of loanApplicants  | paginate: { itemsPerPage: 4, currentPage: page }">
          <td>{{applicant.userId}}</td>
          <!-- <td>{{applicant.applicantId}}</td> -->
          <!-- <td>{{ applicant.firstName }}</td>
          <td>{{ applicant.middleName }}</td>
          <td>{{ applicant.lastName }}</td>
          <td>{{ applicant.email }}</td>
          <td>{{ applicant.dateOfBirth }}</td> -->
          <td>{{ getUserDetails(applicant.userId)?.firstname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.lastname }}</td>
          <td>{{ getUserDetails(applicant.userId)?.email }}</td>
          <td>{{ getUserDetails(applicant.userId)?.dateofbirth }}</td>
          <td>{{ getUserDetails(applicant.userId)?.phonenumber }}</td>
          <td>{{ applicant.panNumber }}</td>
          <!-- <td>{{ applicant.phoneNumber }}</td> -->
          <td>{{ applicant.occupation }}</td>
          <!-- <td>{{ applicant.loanType }}</td> -->
          <!-- <td>
            <!-- Get the CIBIL score for the PAN card
            <span *ngIf="applicant.panNumber && checkCibilScore(applicant.panNumber)">
              <!-- Tick icon ✓
              &#10003;
            </span>
            <span *ngIf="!applicant.panNumber || !checkCibilScore(applicant.panNumber)">
              <!-- Cross icon ✗ 
              &#10007;
            </span>
          </td> 
          <!-- <td>
            <button class="accept-button" data-toggle="modal" data-target="#exampleModal" (click)="setSelectedApplicant(applicant, 'accepted')" >Accept</button>
            <!-- (click)="acceptApplicant(applicant)"
            <!-- <button class="delete-button" >Delete</button>
            <button class="delete-button" data-toggle="modal" data-target="#exampleModal" (click)="setSelectedApplicant(applicant, 'rejected')" >Reject</button>
            <!-- (click)="deleteApplicant(applicant)"
          </td> -->
          <td>{{ applicant.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  <pagination-controls (pageChange)="page = $event" class="pagination-controls"></pagination-controls>
