<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Pending">
        <app-pendingcreditcards *ngIf="activeTab === 'pendingCreditCards'"></app-pendingcreditcards>
    </mat-tab>
    <mat-tab label="Accepted">
        <app-acceptedcreditcards *ngIf="activeTab === 'acceptedCreditCards'"></app-acceptedcreditcards>
    </mat-tab>
    <mat-tab label="Rejected">
        <app-rejectedcreditcards *ngIf="activeTab === 'rejectedCreditCards'"></app-rejectedcreditcards>
    </mat-tab>
</mat-tab-group>

