/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Style the form container */
  .form-horizontal {
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


  
  /* Style the form header */
  /* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.close-icon {
  font-size: 33px;
  color: #666;
  font-weight: bold;
  cursor: pointer;
}

/* Modal content (form) */
.modal-content {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container height */
}

.gender label{
    width: auto;
    margin:0 5px!important;
}

/* Footer */
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
  
  /* Style form groups */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Style labels */
  .control-label {
    font-weight: bold;
  }
  
  /* Style input fields */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style radio buttons and labels */
  .gender-radio {
    display: flex;
    align-items: center;
  }
  
  /* Style select elements */
  select .form-control {
    width: 100%;
  }
  
  /* Style submit button */
  .create-btn {
    text-align: center;
  }
  
  #submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Style error messages */
  .error {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }
  
  /* Password strength box */
  .box {
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    color: #555;
    margin-top: 10px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


  .password-instruction:hover .box {
    display: block;
  }

 label{
    width: 150px;
  }


  
  /* Add additional styling as needed for specific form elements */
  