<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Pending">
        <app-pending-retirementplan  *ngIf="activeTab === 'pendingRetirementPlans'"></app-pending-retirementplan>
    </mat-tab>
    <mat-tab label="Accepted">
        <app-accepted-retirementplan *ngIf="activeTab === 'acceptedRetirementPlans'"></app-accepted-retirementplan>
    </mat-tab>
    <mat-tab label="Rejected">
        <app-rejected-retirementplan *ngIf="activeTab === 'rejectedRetirementPlans'"></app-rejected-retirementplan>
    </mat-tab>
</mat-tab-group>

